<%- contentFor('title') %>
Forgot Password
<%- contentFor('body') %>
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Forgot Password?</h1>
                                <p>Enter your email to get a link of password rest.</p>
                            </div>
                            <form id="forgot_form" class="user">
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control form-control-user" placeholder="Enter Email Address...">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Submit
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Login</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('submit', '#forgot_form', function (e) {
        e.preventDefault();
        $('span.input-error').remove();
        block_ui();

        $.ajax({
            type: 'post',
            url: '/submit-forgot-password',
            data: {
                email:$('#email').val(),
            },
            success: function (response) {
                if (response.status) {
                    $('#forgot_form')[0].reset();
                    $.unblockUI();
                    success(response.message);
                }
                else {
                    $.unblockUI();
                    error(response.message);
                }
            },
            error: function (response, exception) {
                var errors = JSON.parse(response.responseText).errors.details;
                $.each(errors, function (i, error_arr) {
                    if ($('span.text-danger.' + error_arr.context.label).length == 0) {
                        $('.form-control[name="' + error_arr.context.label + '"]').after('<span class="input-error ' + error_arr.context.label + ' text-strong text-danger">' + error_arr.message + '</span>');
                    }
                });
                $.unblockUI();
                error("Please resolve following errors.");
            },
        });
    });
</script>