<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body class="bg-gradient-primary">
<div class="container">
    <%- body %>
</div>
<%- include('../partials/scripts.ejs') %>
<%- script %>
</body>
</html>
