<%- contentFor('title') %>
Add Post
<%- contentFor('body') %>
<div class="col-md-12">
    <h2 class="text-danger">Add Post</h2>
    <form id="add_post_from">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).on('submit', '#add_post_from', function (e) {
        e.preventDefault();
        $('span.input-error').remove();
        block_ui();

        $.ajax({
            type: 'post',
            url: '/submit-post',
            data: {
                title:$('#title').val(),
                description:$('#description').val(),
            },
            success: function (data) {
                if (data.status) {
                    $('#add_post_from')[0].reset();
                    $.unblockUI();
                    success(data.message);
                }
                else {
                    $.unblockUI();
                    error(data.message);
                }
            },
            error: function (response, exception) {
                var errors = JSON.parse(response.responseText).errors.details;
                $.each(errors, function (i, error_arr) {
                    if ($('span.text-danger.' + error_arr.context.label).length == 0) {
                        $('.form-control[name="' + error_arr.context.label + '"]').after('<span class="input-error ' + error_arr.context.label + ' text-strong text-danger">' + error_arr.message + '</span>');
                    }
                });
                $.unblockUI();
                error("Please resolve following errors.");
            },
        });
    });
</script>