<%- contentFor('title') %>
Error 401
<%- contentFor('body') %>
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-2">
                <!-- Nested Row within Card Body -->
                <h3>Error 401</h3>
                <h5>Unotherized!</h5>
            </div>
        </div>
    </div>
</div>
